@import './reset.scss';
body {
  overflow-y: scroll; 
  scroll-behavior: smooth; 
}
body::-webkit-scrollbar {
  display: none;
}
.wrapper.dark {
  background-color: #000;
  color: #fff;
  header {
    background-color: #000;
    box-shadow: none;
    .header-wrap {
      h1 {
        span {
          background-image: linear-gradient(to right, #ff0000, #ff0000)
        }
      }

      .header-info {
        & > button {
          background-color: #fff3;
        }
        .search {
          background-color: #252525;
          input {
            background-color: #252525;
          }
        }
      }
    }
  }
}

.wrapper.light {
  background-color: #fff;
  color: #222;
}